---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// All import font can be found in `_sass/_lib.scss`

$google-fonts: 'Source+Code+Pro', 'Source+Sans+Pro';

$base-font-family: 'Delius', Helvetica, Arial, sans-serif;
$code-font-family: "DejaVu Sans Mono", "Monospace", 'Source Code Pro';

$site-title-font: "DejaVu Sans Mono", 'Source Code Pro';
$post-title-font: 'Delius';
$head-font: 'Delius';               // post h2 and h4
$list-link-font: 'Delius';          // home page

$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.42857;

$spacing-unit:     30px;

// color
$text-color:       rgba(0, 0, 0, .9);
$background-color: #f5f5f5;

$pink:             #e91e63;
$blue:             #2196f3;
$teal-accent:      #00bfa5;
$grey:             #9e9e9e;
$grey-light:       #fafafa;
$grey-dark:        #424242;
$red:              #f44336;

// Width of the content area
//$content-width:    800px;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "lib",
        "syntax-highlighting"
;
