<header class="site-header">
  <nav><div class="nav-wrapper">

    <a href="{{ '/' | prepend: site.baseurl }}" class="brand-logo waves-effect waves-light"><i class="mdi mdi-home white-text"></i></a>
    <span class="site-title hide-on-med-and-down">{{ site.title }}</span>

    <ul class="right hide-on-med-and-down nav-list">
      <li class="waves-effect waves-light"><a href="{{ '/category' | prepend: site.baseurl }}" class="white-text"><i class="mdi mdi-folder-multiple left"></i>Category</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/about' | prepend: site.baseurl }}" class="white-text"><i class="mdi mdi-account left"></i>About</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="white-text"><i class="mdi mdi-rss left"></i>RSS</a></li>
    </ul>

    <!-- medium and down -->
    <ul id="slide-out" class="side-nav">
      <li><a href="{{ '/category' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">Category</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">About</a></li>
      <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">RSS</a></li>
    </ul>
    <a href="" data-activates="slide-out" class="button-collapse waves-effect waves-light"><i class="mdi mdi-menu white-text"></i></a>

  </div></nav>
</header>
