<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="{{ site.head-theme-color }}">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.head-title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ '/lib/materialize/css/materialize.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link media="all" rel="stylesheet" type="text/css" href="{{ '/lib/mdi/css/materialdesignicons.min.css' | prepend: site.baseurl }}" >
  <link rel="stylesheet" href="{{ '/lib/material-scrolltop/material-scrolltop.css' | prepend: site.baseurl }}">

  {% include check.html %}
</head>
