<header class="site-header">

<!-- dropdown content, for small screens -->
<ul id="dropdown" class="dropdown-content">
  <li><a href="{{ '/category' | prepend: site.baseurl }}">Category</a></li>
  <li class="divider"></li>
  <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
  <li class="divider"></li>
  <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="{{ '/' | prepend: site.baseurl }}" class="brand-logo"><i class="mdi mdi-home white-text waves-effect waves-light "></i></a>

    <span class="site-title hide-on-med-and-down">{{ site.title }}</span>
    <ul class="right hide-on-med-and-down nav-list">
      <li class="waves-effect waves-light"><a href="{{ '/category' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-folder-multiple left"></i>Category</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/about' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-account left"></i>About</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-rss left"></i>RSS</a></li>
    </ul>

    <ul class="right hide-on-large-only">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown"><i class="mdi mdi-apps"></i></a></li>
    </ul>
  </div>
</nav>

</header>
