/**
 *
 */


/**
 * Check
 */
.notice-warning {
    background-color: #E91E63;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    left: 0;
    padding: 7px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}


/**
 * Site header
 */
.site-header {
    //border-bottom: 1px solid $grey-light;
}

.site-title {
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-left: 50px;

    &,
    &:visited {
        color: $grey-dark;
    }
}

.nav-wrapper .mdi-apps {
    color: darken($pink, 15%);
}

.brand-logo {
    padding: 0 10px !important;    // replace materialize css
}

.brand-logo,
.dropdown-button {
    @media #{$small-and-down} {
        i { line-height: 56px; }    // maybe just a bug, maybe not
    }
}

/**
 * Site post list
 */
.modal-footer {
    a {
        color: darken($pink, 15%);
        &:hover { color: $blue; }
    }
}

/**
 * Site pagination
 */
.pagination {
    margin-top: 32px;
    margin-bottom: 40px;

    .page {
        // center the item (waitting other elegant method)
        left: 50%;
        margin-left: -10.1em;
    }
}


/**
 * Site footer
 */
.page-footer {
    ul {
        margin-left: 0;
    }
    li {
        margin-top: 10px;
    }
}


/**
 * Page content
 */
.page-heading {
    margin-top: $spacing-unit;
}

.favo {
    letter-spacing: .2em;
}


.post-list {
    margin-left: 0;
    margin-top: 32px;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-link {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;

    color: $pink;

    &:hover {
        color: $blue;
    }
}

.post-ribbon {
    //background-color: rgba(15, 99, 17, 0.51);
    background-color: rgba(68, 68, 68, 0.41);
    flex-shrink: 0;
    height: 40vh;
    width: 100%;
}

// category
.post-category {
    .collection {
        padding-top: 15px;
    }

    ul li {
        margin-bottom: 10px;
        list-style-type: none !important;
    }
}

.category-list {
    margin-top: 32px;

    .title {
        margin-top: 0;
    }

    @media #{$medium-and-up} {

        ul {
            margin-left: $spacing-unit*2;
        }

        .category-link {
            transition: padding-left 0.25s;
            -webkit-transition: padding-left 0.25s;
            -moz-transition: padding-left 0.25s;
            -o-transition: padding-left 0.25s;

            &:hover {
                padding-left: 12px;
            }
        }
    }
}

/**
 * Posts
 */
.post {
    margin-top: -35vh;
    margin-bottom: 64px;
    flex-shrink: 0;
    min-height: 800px;
}

.post-section {
    @media #{$small-and-down} {
        padding: 70px 0px;
    }

    @media #{$medium-and-up} {
        padding: 70px 56px;
        margin-bottom: 60px;
    }
}

.post-header {
    margin-top: $spacing-unit*1.5;
    margin-bottom: $spacing-unit*1.6;

    .post-tag {
        font-size: 1.5rem;
        color: lighten($pink, 10%);
    }
}

// post title (head 1)
.post-title {
    color: rgba(0, 0, 0, 0.66);
    font-size: 2.8rem;
    margin: 2.1rem 0 1.68rem;

    @media #{$medium-and-down} {
        font-size: 36px;
    }
}

// post and page content
.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 2rem;
        color: #ee6e73;
        margin: 3.78rem 0 2.424rem;

        @media #{$medium-and-down} {
            font-size: 1.8rem;
        }
    }

    h3 {
        font-size: 1.8rem;
        margin: 2.68rem 0 1.2rem;
    }

    h4 {
        font-size: 1.4rem;
        margin: 1.68rem 0 1rem;

        @media #{$medium-and-down} {
            font-size: 1.5rem;
        }
    }
    
    h5,
    h6 {
        font-size: 1.2rem;
    }
    

    strong {
        font-weight: 600;
        color: darken($red, 20%);
    }

    ul li { list-style-type: disc; }
}

// post share
.post-share {
    margin-top: 100px;
    letter-spacing: .2em;
}
