/**
 * library and plugin style
 */


/**
 * Dejavusans mono font
 */

// normal
@font-face {
    font-family: 'dejavu_sans_mono_web';
    src: url('../lib/font/dejavu/DejaVuSansMono-webfont.eot');
    src: url('../lib/font/dejavu/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/font/dejavu/DejaVuSansMono-webfont.woff') format('woff'),
         url('../lib/font/dejavu/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('../lib/font/dejavu/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * Cantarell
 */

@font-face {
    font-family: 'cantarell_web';
    src: url('../lib/font/cantarell/Cantarell-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarell_web';
    src: url('../lib/font/cantarell/Cantarell-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/**
 * material scrolltop
 */

.material-scrolltop {
    background-color: $pink !important;
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 42px;
    right: 30px;
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    cursor: hand;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop:hover {
    //background-color: $pink;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.material-scrolltop.reveal {
    width: 56px;
    height: 56px;
}

.material-scrolltop,
.material-scrolltop::before {
    background-position: center 50%;
    background-repeat: no-repeat;
}


/**
 * table of content plugin
 *
 */

#toc-container {
    position: fixed;
    bottom: 0px;
    top: auto;
    right: 0px;
    left: auto;
    z-index: 999;
    border-bottom: 2px solid #ee6e73;
}

.toctext {
    font-size: 14px;
}



